*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container{
    max-width: 1280px;
    padding: 0px 40px;
    margin:  0 auto;
}

.header-title{
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
    font-size: 28px;
}

.login-authentication{
    width: 850px;
    margin: 0 auto;
    padding: 60px;
    background-color: #98D4DC;
    border-radius: 5px;
    transition: 0.1s all ease-in-out;
}

.login-authentication h3{
    font-size: 26px;
    text-transform: uppercase;
}

.login-form{
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.login-form input{
    width: 100%;
    padding: 15px 15px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.login-btn{
    font-size: 15px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    padding: 15px 38px;
    margin-top: 8px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.login-btn:hover{
    color: black;
    background-color: transparent;
    border: 2px solid black;
    padding: 14px 36px;
    transition: 0.1s all ease-in-out;
}